<!-- inc:header -->
<div class="notice"><div class="p">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="130px"><span class="lead">&nbsp;&raquo; {:$m_rs[title]}</span></td>
		<form method="post" action="{:site_url('list')}module_id={:$module_id}">
		<td align="left">
			搜索：<!-- if($ifcate) -->{:$cate_html}<!-- end -->
			<input type="text" name="keywords" id="keywords" value="{:$keywords}">
			<input type="submit" class="btn2" value="查询">
		</td>
		</form>
		<td align="right"><a href="{:site_url('list,set')}module_id={:$m_rs[id]}&" class="button">添加内容</a></td>
	</tr>
	</table>
</div></div>



<!-- if($m_rs[tplset] == 'pic') -->
	<!-- inc:list/list_pic -->
<!-- else -->
	<!-- inc:list/list_txt -->
<!-- end -->

<div class="table">
	<table width="100%">
	<tr>
		<td>
			<input type="button" value="全选" onclick="select_all()" class="btn2">
			<input type="button" value="全不选" onclick="select_none()" class="btn3">
			<input type="button" value="反选" onclick="select_anti()" class="btn2">
			<select name="act_plset" id="act_plset">
				<option value="">请选择操作方案</option>
				<optgroup label="批处理">
					<!-- if($m_rs[if_propety]) -->
					<option value="istop:1">置顶</option>
					<option value="isvouch:1">推荐</option>
					<option value="isbest:1">精华</option>
					<!-- end -->
					<option value="status:1">审核</option>
					<!-- if($m_rs[if_propety]) -->
					<option value="istop:0">取消置顶</option>
					<option value="isvouch:0">取消推荐</option>
					<option value="isbest:0">取消精华</option>
					<!-- end -->
					<option value="status:0">取消审核</option>
					<option value="taxis">更新排序</option>
					<option value="del">批量删除</option>
				</optgroup>
				<!-- if($ifcate) -->
				<optgroup label="移动主题分类">
					<!-- $cate_list_array AS $key=>$value -->
						<option value="cate:{:$value[id]}">{:$value[space]}{:$value[cate_name]}<!-- if(!$value[status]) -->【暂停使用】<!-- end --></option>
					<!-- end -->
				</optgroup>
				<!-- end -->
			</select>
			<input type="button" value="提交" onclick="update_pl()" class="btn2">
		</td>
		<td align="right">{:$pagelist}</td>
	</tr>
	</table>
</div>
<!-- inc:footer -->